table {
	width: 100%;
	cursor: pointer;
}

.tr-row {
	background-color: #ebf0f3;
}

.badge-difficulty-level {
	padding: 6px 18px;
	// border-radius: 35px;
	// background-color: #ebf0f3;
	// color: white;
}
.badge-difficulty-level-easy {
	color: #00e676;
}

.badge-difficulty-level-middle {
	color: #0039cb;
}

.badge-difficulty-level-hard {
	color: #ff616f;
}

.example-flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.example-button-container {
	display: flex;
	justify-content: center;
	// width: 120px;
}
