table {
	width: 100%;
	cursor: pointer;
}

.tr-row {
	background-color: #ebf0f3;
}

.example-flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.example-button-container {
	display: flex;
	justify-content: center;
	// width: 120px;
}
