<div class="header">
	<h1 *ngIf="!isEditing" data-testid="title">Nueva receta</h1>
	<h1 *ngIf="isEditing">Editar receta</h1>
</div>
<form [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
	<div class="container">
		<mat-form-field class="container-input" appearance="standard">
			<mat-label>Título</mat-label>
			<input matInput formControlName="title" />
		</mat-form-field>
		<div class="container-input">
			<mat-slide-toggle name="cookedBefore" formControlName="cookedBefore">Activa</mat-slide-toggle>
		</div>

		<div formArrayName="ingredients" class="container-ingredients">
			<p class="sub-title">Ingredientes</p>
			<div *ngFor="let _ of ingredients.controls; index as i" class="ingredients-array">
				<p class="index">{{ i + 1 }}</p>
				<div class="container-input-ingredients">
					<mat-form-field class="container-input" appearance="legacy">
						<input matInput [formControlName]="i" />
					</mat-form-field>
				</div>
				<mat-icon data-testid="removeIngredients" *ngIf="ingredients.length !== i + 1" (click)="removeingredients(i)"
					>delete_outline</mat-icon
				>
				<mat-icon data-testid="addIngredients" *ngIf="ingredients.length === i + 1" (click)="addIngredients()"
					>add_circle_outline</mat-icon
				>
			</div>
		</div>
		<mat-form-field class="container-input" appearance="standard">
			<mat-label class="sub-title">Selecciona Dificultad</mat-label>
			<mat-select formControlName="difficultyLevel">
				<mat-option *ngFor="let level of difficultyLevel" [value]="level.id">
					{{ level.text }}
				</mat-option>
			</mat-select>
		</mat-form-field>
		<div class="container-reviews">
			<mat-label class="reviews-label sub-title">Elige una calificación</mat-label>
			<mat-radio-group
				class="radio-group"
				aria-label="Select an option"
				formControlName="reviews"
				[labelPosition]="'before'"
			>
				<mat-radio-button *ngFor="let review of reviewsArray; index as i" [value]="i + 1">
					{{ i + 1 }}
				</mat-radio-button>
			</mat-radio-group>
		</div>
		<mat-form-field class="container-description" appearance="standard">
			<mat-label class="sub-title">Descripción</mat-label>
			<textarea matInput formControlName="preparation" rows="15"></textarea>
		</mat-form-field>
		<div class="button-container">
			<button data-testid="closeButton" class="button" mat-button color="primary" type="button" (click)="close()">
				Cerrar
			</button>
			<button data-testid="submitButton" class="button" mat-raised-button color="primary" [disabled]="form.invalid">
				Guardar
			</button>
		</div>
	</div>
</form>
