<div class="container">
	<h1 class="title">{{ recipe.title | titlecase }}</h1>
	<mat-divider></mat-divider>
	<div class="section-header">
		<div class="item inline">
			<h3 class="sub-title">Activa</h3>
			<mat-slide-toggle
				[disabled]="true"
				class="toggle"
				[color]="'#8DC63F'"
				[checked]="recipe.cookedBefore"
			></mat-slide-toggle>
		</div>
		<div class="item inline">
			<h3 class="sub-title">Dificultad:</h3>
			<span class="difficulty-level" [ngStyle]="{ color: getcolorDifficultyLevel(recipe.difficultyLevel) }">{{
				recipe.difficultyLevel
			}}</span>
		</div>
	</div>
	<mat-divider></mat-divider>
	<div class="item inline">
		<h3 class="sub-title reviews-title">Calificación</h3>
		<app-rating [currentRanking]="recipe.reviews"></app-rating>
	</div>
	<mat-divider></mat-divider>
	<div class="item">
		<h3 class="sub-title">Ingredientes</h3>
		<mat-list role="list">
			<mat-divider></mat-divider>
			<ng-container *ngFor="let ingredient of recipe.ingredients; index as i">
				<mat-list-item role="listitem">{{ ingredient }} </mat-list-item>
				<mat-divider></mat-divider>
			</ng-container>
		</mat-list>
	</div>
	<div class="item">
		<h3 class="sub-title preparation">Preparacion</h3>
		<span>
			{{ recipe.preparation }}
		</span>
	</div>
	<div class="button-container">
		<button data-testid="deleteButton" class="button" mat-button color="primary" type="button" (click)="delete()">
			Eliminar
		</button>
		<button data-testid="updateButton" class="button" mat-raised-button color="primary" (click)="update()">
			Editar
		</button>
	</div>
</div>
