:host {
	padding: 10px;
	width: 100%;
}

@media only screen and(min-width: 1200px) {
	:host {
		width: 25%;
	}
}
.content {
	overflow-wrap: break-word;
	max-height: 100px;
	overflow-y: hidden;
	min-height: 100px;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header {
	display: flex;
	justify-content: space-between;
}
